*
!*/
#  ────────────────────────────────────────────────────────────────────
!/src
!/src/**/*.rs
!/deny.toml
!/Cargo.toml
!/clippy.toml
!/rustfmt.toml
!/rustfmt-stable.toml
!/rust-toolchain.toml
!/_typos.toml
!/.cargo/config.toml
#  ────────────────────────────────────────────────────────────────────
!/contrib/**
!/fixtures/**
!/assets/**
!/test/**
!/docs/**
!/examples/**
#  ────────────────────────────────────────────────────────────────────
!/**/.gitkeep
!/**/.gitignore
#  ────────────────────────────────────────────────────────────────────
!/.cspell/*.txt
!/.vscode/**
!/.devcontainer/**
#  ────────────────────────────────────────────────────────────────────
!/.github/CODEOWNERS
!/.github/dependabot.yml
!/.github/pull_request_template.md
!/.github/ISSUE_TEMPLATE/
!/.github/ISSUE_TEMPLATE/*.md
!/.github/ISSUE_TEMPLATE/*.yml
!/.github/workflows/*.yml
!/.github/ISSUES/**.yml
#  ────────────────────────────────────────────────────────────────────
!/.editorconfig
!/.gitignore
!/.dockerignore
!/.gitlint
!/cspell.config.yaml
!/.markdownlintignore
!/.markdownlint.yaml
!/.stignore
!/.versionrc
!/.pre-commit-config.yaml
!/.rusty-hook.toml
!/.github-labels.json
!/.gitattributes
!/LICENSE
!/README.md
!/commitlint.config.js
!/Justfile
!/Makefile
!/Makefile.toml
!/Vagrantfile
!/docker-bake.hcl
!/CONTRIBUTING.md
!/CHANGELOG.md
!/RELEASE_CHECKLIST.md
!.yamlfmt

# Added by cargo

/target
